<div class="add-forum-button-container">
  <button id="add-note-Button">+ Forum</button>
</div>
	{{!-- Holds Join and Create Forum, holds hidden-status --}}
<div id="add-forum-window" class="hidden"></div>
  <table>
  	<tr>
  	  <td>
  	  	{{!-- Join Forum --}}
	    <div class="window-join-forum">
	  	  <div class="window-header-container">
	  	  <h2 class="window-header">Join a Forum</h2>
	  	</div>
	  	<div class="window-body">
	  	  <div class="window-input-item">
	  	  	<label for="window-join-forum-input-passcode">Enter Passcode:  </label>
	  	  	<input type="text" id="window-join-forum-input-passcode">
	  	  	
	  	  </div>
	  	</div>
	  </td>
	  <td>

	  	{{!-- Make Forum --}}
	    <div class="window-create-forum">
	  	  <div class="window-header-container">
	  	    <h2 class="window-header">Make a Forum</h2>
	  	  </div>
	  	  <div class="window-body">
	  	    <div class="window-input-item">
	  	  	  <label for="window-create-forum-input-name">*Forum Name:</label>
	  	  	  <input type="text" id="window-create-forum-input-name">
	  	    </div>
	  	    <div class="window-input-item">
	  	  	  <label for="window-create-forum-input-class">*Class Name:</label>
	  	  	  <input type="text" id="window-create-forum-input-class">
	  	    </div>
	  	    <div class="window-input-item">
	  	  	  <label for="window-create-forum-input-code">*Code(ex. CS160):</label>
	  	  	<input type="text" id="window-create-forum-input-code">
	  	    </div>
	  	    <div class="window-input-item">
	  	  	  <label for="window-create-forum-input-location">Class Location:</label>
	  	  	  <input type="text" id="window-create-forum-input-name">
	  	    </div>
	  	  </div>
	    </div>
    </td></tr>
    <tr><td>
    	{{!-- Buttons to Join or Create a Forum --}}
    	<center>
          <button type="button" class="window-join-forum-accept-button">Join Forum</button>
        </center>
      </td>
      <td>
      	<center>
          <button type="button" class="window-create-forum-accept-button">Create Forum</button>
	    </center>
	</td></tr>
  </table>
	<center>
	  <div class="window-footer">
	    <button type="button" class="window-cancel-button">Cancel</button>
	  </div>
	</center>
</div> 
