<header>

  <h1><a href="/">AskieForum</a></h1>

  <nav>
    <ul class="navbar-list">
      <li class="navbar-item"><a href="/">Home</a></li>
      <li class="navbar-item"><a href="#">About</a></li>
{{!--       {{#if userName}} --}}
       {{!--  <li class="navbar-item navbar-right">
          <ul class="navbar-menu-list">
            <li><a href="/">Logout</a></li>
          </ul>
        </li> --}}
      {{!-- {{else}} --}}
        <li class="navbar-item navbar-right"><a href="/login">Login</i></a></li>
     {{!--  {{/if}} --}}
    </ul>
  </nav>

</header>