{{> header}}

<main>
  <div>
    <h2>Welcome to your home page!</h2>
  	<table>
  	  <tr>
  	  	<td>JOIN FORUM</td>
  	  	<td>HOST FORUM</td>
  	  </tr>
  	  <tr>
  	  	<td>List of Joined Forums</td>
  	  	<td>List of Hosted Forums</td>
  	  </tr>
  	</table>
    {{> add-forum}}
  </div>
</main>

{{> footer}}
