{{> header}}

<main>
  <div class="info-container">

    <div><i></i></div>
    <h2>FORUM</h2>
    <aside class="forum-side-left">
      {{> host/forum-side-left}}
    </aside>
    <section class="forum-section">
      {{> host/forum-section}}
    </section>
    <aside class="forum-side-right">
      {{> host/forum-side-right}}
    </aside>
  </div>
</main>

{{> footer}}
