{{> header}}

<main>
  <div>
  	<h2>Please Login: </h2>
  	<center><div>Username: <input type="text" name="userNameEnter"></div>
    <div>Password: <input type="text" name="passwordEnter"></div>
    <div><button>Enter</button></div></center><a href="\home">TempUserHomeLink</a>
  </div>
</main>

{{> footer}}
