{{> header}}

<main>
<div style="display:inline-block; width:100%;">
<form action="_loginGetResult" method="post">
	<p>
		<label for="username">Username:</label>
		<input type="text" name="username" id="username">
	</p>
	<p>
		<label for="password">Password:</label>
		<input type="password" name="password" id="password">
	</p>

	<input type="submit" value="Submit">
</form>
</div>
<div style="display:inline-block;">
<h4 style='text-align:center;'><a href="/signup">New user? Sign up here!</i></a></h4></main>
</div>

{{> footer}}
