{{> header}}

<main>
  <div>
  	<div>Username: <input type="text" name="userName"></div>
    <div>First Name: <input type="text" name="firstName"></div>
    <div>Last Name: <input type="text" name="lastName"></div>
    <div>Email: <input type="text" name="email"></div>
    <div>Password: <input type="text" name="password"></div>
    <div>Confirm: <input type="text" name="confirm"></div>
  </div>
</main>

{{> footer}}
