

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  background-color: #44f;
  padding: 5px 20px 0 5px;
}

header h1 {
  display: inline-block;
  font-size: 72px;
  font-weight: 200;
  margin: 5px 20px;
}

header h1 a {
  color: inherit;
}

header h1 a:hover {
  text-decoration: none;
}

nav {
  background-color: #333;
  color: white;
  margin: 0 -20px;  /* negative margin here makes up for header padding */
  font-size: 28px;
  font-weight: 200;
}
.navbar-list {
  list-style-type: none;
  padding: 0;
  margin: 0 20px;
}
.navbar-item {
  display: inline;
}
.navbar-item a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
}


.navbar-item:hover a {
  background-color: #111;
}

.navbar-menu {
  position: relative;
}

.navbar-menu-list {
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  padding: 0;
  list-style-type: none;
  z-index: 10;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.25);
}

.navbar-menu-list,
.navbar-menu-list li {
  background-color: #444;
}

.navbar-menu:hover .navbar-menu-list {
  display: initial;
}

.navbar-menu-list li:hover,
.navbar-menu-list li:hover a {
  background-color: #565656;
}

.navbar-right {
  float: right;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 100px 20px;
  min-height: 300px;
}

footer {
  background-color: #333;
  color: white;
}


/*.add-question-container {
  position: fixed;
  bottom: 35px;
  right: 35px;
  z-index: 10;
}*/
.add-question-container {
  position: fixed;
  border-width: 2px;
  border-style: solid;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.add-question-form {
  width: auto;
  max-width: 60%;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #00A;
  border-radius: 15px;
  color: white;
}

.forum-question-post-header{
  position: relative;
  text-align: center;
  padding: 10px 10px;
  background-color: blue;
  border-radius: 20px
}


#forum-question-post-form{
  padding: 20px 25px;
}

#forum-answer-post-form{
  padding: 20px 25px;
}

.question-title-input{
  width: 100%;
  font-size: 24px;
}
.question-text-input{
  width: 100%;
  font-size: 16px;
}
.empty {
  background-color: red;
}
.unmatch {
  background-color: orange;
}
/* form input[type=text] {
  color: red;
  background-color: blue;
}
*/

.create-forum-container {
  height:100%;
  width:45%;
  display:inline-block;
}
.join-forum-container {
  height:100%;
  width:45%;
  display:inline-block;
}
.hidden{
  display: none;
}
