<h2>Live Q and A</h2>

{{!-- Creates the Ask Question Post--}}
<div id="forum-question-post" class="hidden add-question-container">
  <div class="add-question-form"> 
    <div class="forum-question-post-header">
      <h2>Ask a Question!</h2>
    </div>
    <form id="forum-question-post-form" class="PostQuestion">
      <div>
        <textarea class="question-title-input" id="question-title-input" rows="1" placeholder="Add a Title!"></textarea>
      </div>
      <div>
        <textarea class="question-text-input" id="question-input" rows="10" placeholder="Ask your question here..."></textarea>
      </div>
      <div>
        <input type="checkbox" class="anonymous-checkbox">Anonymous?</input>
        <label for="question-urgent">Urgency:</label>
        <select class="question-urgent">
          <option selected disabled>-</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div>
      <button type="submit" value="Submit" onclick="hideForumQuestionPost()" id="button-question-submit">Submit</button>
      <button type="reset" value="Reset" onclick="hideForumQuestionPost()">Cancel</button>
      </div>
    </form>
  </div>
</div>

{{!-- Questions --}}
<div>
  <h3 class="question-example" >Submitting Answers</h3>
  <p>How do I submit an answer?</p>
  <button onclick="unhideForumAnswerPost()">Answer Question</button> 
</div>

<div>
  <h3 class="question-example" >Any Ideas?</h3>
  <p>Anyone have any idea of what question to ask?</p>
  <button onclick="unhideForumAnswerPost()">Answer Question</button> 
</div>

{{!-- Answer Question --}}
<div id="forum-answer-post" class="hidden add-question-container">
  <div class="add-question-form">
    <div class="forum-question-post-header">
      <h2>Provide an Answer!</h2>
    </div>
    <form id="forum-answer-post-form" class="postAnswer">
    	<div>
        <textarea class="question-text-input" id="answer-input" rows="10" placeholder="Write your answer here..."></textarea>
      </div class="submit-question">
      <input type="checkbox" class="anonymous-checkbox">Anonymous?</input>
      <div style="align-content:center">
        <button class="button-" type="submit" id="button-answer-submit" onclick="hideForumAnswerPost()">Post Answer</button>
      </div class="submit-question">
      <div>
        <button class="button-cancel-question" type="reset" value="Reset" onclick="hideForumAnswerPost()">Cancel</button>
      </div>
    </form>
  </div>
</div>



{{!-- Button to unhide the container --}}
<div class="forum-new-post">
  <button id="button-question-add" onclick="unhideForumQuestionPost()">New Question</button>
</div>




<div>
</div>


